# Use pycrunch's latest code
git+https://github.com/Crunch-io/pycrunch#pycrunch

# Install scrunch as development
-e .

#pycrunch
mock
pytest
pytest-sugar
pytest-cov
requests
tox
backports.unittest_mock
isodate
