# Use pycrunch's latest code
git+https://github.com/Crunch-io/pycrunch#pycrunch

# Install scrunch as development
-e .

#pycrunch
pandas==0.19.2
mock==2.0.0
pytest==3.0.5
pytest-sugar==0.8.0
pytest-cov
requests
backports.unittest-mock==1.2.1
isodate==0.5.4
