# Use pycrunch's latest code
git+https://github.com/Crunch-io/pycrunch#pycrunch

# Install scrunch as development
-e .

#pycrunch
pandas
mock
pytest
pytest-sugar==0.8.0
pytest-cov
requests
tox
backports.unittest_mock
isodate
